In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("train.csv", usecols=['X1', 'X2', 'X3', 'X4', 'X5', 'X6'])
df.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [2]:
df.shape

(4209, 6)

In [3]:
for col in df.columns:
    print("{} has {} unique Labels".format(col, len(df[col].unique())))

X1 has 27 unique Labels
X2 has 44 unique Labels
X3 has 7 unique Labels
X4 has 4 unique Labels
X5 has 29 unique Labels
X6 has 12 unique Labels

In [4]:
pd.get_dummies(df,drop_first=True).shape

(4209, 117)

In [5]:
df.X2.value_counts().sort_values(ascending=False).head(20)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
z       19
ag      19
Name: X2, dtype: int64

In [6]:
top_10=[x for x in df.X2.value_counts().sort_values(ascending=False).head(20).index]
top_10

['as',
 'ae',
 'ai',
 'm',
 'ak',
 'r',
 'n',
 's',
 'f',
 'e',
 'aq',
 'ay',
 'a',
 't',
 'k',
 'i',
 'b',
 'ao',
 'z',
 'ag']

In [7]:
for label in top_10:
    df[label]=np.where(df['X2']==label, 1, 0)
    
df[['X2']+top_10].head()

   X2  as  ae  ai  m  ak  r  n  s  f  ...  aq  ay  a  t  k  i  b  ao  z  ag
0  at   0   0   0  0   0  0  0  0  0  ...   0   0  0  0  0  0  0   0  0   0
1  av   0   0   0  0   0  0  0  0  0  ...   0   0  0  0  0  0  0   0  0   0
2   n   0   0   0  0   0  0  1  0  0  ...   0   0  0  0  0  0  0   0  0   0
3   n   0   0   0  0   0  0  1  0  0  ...   0   0  0  0  0  0  0   0  0   0
4   n   0   0   0  0   0  0  1  0  0  ...   0   0  0  0  0  0  0   0  0   0

[5 rows x 21 columns]

In [8]:
df=pd.read_csv("train.csv", usecols=['X1', 'X2', 'X3', 'X4', 'X5', 'X6'])
def one_hot_top_10(df, variable, top_10_labels):
    
    for label in top_10_labels:
        df[variable+"_"+label]=np.where(df[variable]==label, 1, 0)
        
for col in ['X1', 'X2', 'X3', 'X4', 'X5', 'X6']:
    one_hot_top_10(df, col, top_10)
    df=df.drop(col, axis=1)

In [9]:
df.shape

(4209, 120)

In [11]:
df.head(10)

,X1_as,X1_ae,X1_ai,X1_m,X1_ak,X1_r,X1_n,X1_s,X1_f,X1_e,...,X6_aq,X6_ay,X6_a,X6_t,X6_k,X6_i,X6_b,X6_ao,X6_z,X6_ag
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0